body,
h1 {
  margin: 0;
  padding: 0;
}

body {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 40px;
  gap: 80px;
  max-width: 100%;
  box-sizing: border-box;
}

.titulo h1 {
  font-family: monospace;
  font-size: 4rem;
  text-transform: uppercase;
  color: #eee;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

input {
  display: block;
}

.button-creator {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  /* grid-template-columns: 1fr 1fr; */
}

#controles {
  font-family: "IBM Plex Mono", monospace;
  font-size: 0.875rem;
  background: #eee;
  padding: 1rem 2rem;
  border-radius: 4px;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.css {
  font-family: "IBM Plex Mono", monospace;
  color: #333;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.css span {
  display: block;
  margin-bottom: 0.5rem;
}

@media (max-width: 1200px) {
  .container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 800px) {
  .container {
    gap: 40px;
  }
  .titulo h1 {
    font-size: 3rem;
  }
}
